@font-face {
    font-family: 'Aller';
    src: url('fonts/aller/Aller_Std_Lt.ttf');
/*    format('ttf');*/
}

html {
    box-sizing: border-box;
}

body {
    font-family: Aller;
}

a {

}

img {

/*	background-color: #e9e9e9;*/
}

.header {
/*    position: fixed;*/
    width: calc(100vw + 5px);
    left: -5px;
    top: -5px;
    height: 62px;
    background-color: #446475;
}

.wrapper {
    width: 100vw;
    background: url(img/background.png) no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 10;
}

.content {
    width: 960px;
}

.logo-bar {
    display: flex;
    align-items: center;
}

.logo-bar a {
   align-items: center;
}

.logo-bar a img {
    box-shadow: none;
}

.logo-bar:first-child {
    
}



.outer-wrapper {
    background-color: white;
    border-radius: 1%;
    border: solid 1px #EBF3F7;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.inner-wrapper img {*/
/*    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);*/
/*    border-radius: 5px;*/
/*}*/

.flex-nav ul {
    display: flex;
    list-style: none;
/*        margin-top: 14px;*/
/*    margin-bottom: 17px;*/
/*    margin: 0;*/
    
    height: 30;
    align-items: center;
    padding: 20 40;
}

.flex-nav li {
/*    flex-basis: 100%;*/
    font-size: 15px;
    text-decoration: none;
    flex: 1;
    text-align: center;
    white-space:nowrap;
    
}

ul li a {
    text-decoration: none; 
}

ul li a:visisted {
    text-decoration: none; 
}

.main-image {
    display: flex;
}

.destination-just-arrived {
/*    display: block;*/
/*    position: relative;*/
    position: absolute;
    padding: 138px 0 0 52px;
    
/*    left: 52px;*/
    z-index: 2;
    width: 346px;
	height: 108px;
    opacity: 0.9;
	font-family: Aller;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.2;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 5px 8.7px 13px rgba(0, 0, 0, 0.34);
/*    overflow: hidden;*/
/*    display: flex;*/
}

.lleft {

}

.rright {
   
}
.double-category {
    display: flex;
    flex-direction: row;
}

.med-cat {

}

.quad-cat-row {
    width: 100%;
    display: flex;
/*    flex-wrap: wrap;*/
/*    flex-direction: row;*/
/*    align-items: flex-start;*/
/*    justify-content: space-between;*/
}

.quad-img {
    flex: 1;
}

.quad-banner-light {
    position: absolute;
    bottom: 65px;
    width: 193px;
	height: 32px;
	opacity: 0.9;
    background: rgba(255,255,255,1);
}

.quad-banner-light-text {
    width: 97px;
	height: 16px;
	font-family: Aller;
	font-size: 16px;
	font-weight: 300;
	color: #015136;
	text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
}

.quad-banner-dark {
    position: absolute;
    bottom: 65px;
    width: 193px;
	height: 32px;
	opacity: 0.5;
}

.quad-img img {
    width: 227px;
    height: 190px;  
}
