@font-face {
    font-family: 'Aller';
    src: url('fonts/aller/Aller_Std_Lt.ttf');
}

html {
    box-sizing: border-box;
}

body {
    font-family: Aller;
    padding: 0;
}

body {
    background: url("../img/background.png") no-repeat;
    background-size: 100% auto;
}

a {

}

img {

}

#site-container {
    width: auto;
}

input[type="button"], input[type="submit"] {
    background-color: #1fa1e7;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-color: #1fa1e7;
}

#content-container {
    border-style: none;
}

.header {
    width: calc(100vw + 5px);
    left: -5px;
    top: -5px;
    height: 62px;
    background-color: #446475;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px 20%;
}
.header div {
    
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.content {
    width: 960px;
}

.logo-bar {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    justify-content: space-between;
}

.items-in-cart {
    font-size: 11px;
    line-height: 1.8;
    width: 217px;
    height: 25px;
    border-radius: 5px;
    background-color: #74a2bc;
    display: flex;
    flex-basis: row;
    justify-content: space-between;
}

.items-in-cart div:nth-child(1) {
    color: white;
    padding-left: 12%;
    align-self: center;
}

.items-in-cart div:nth-child(2) {
    width: 95px;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: Arial;
    color: #ae0826;
    margin: 2px;
    align-self: center;
}

.search-bar {
    width: 357px;
    height: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #ffffff;
}


.logo-bar a {
   align-items: center;
}

.logo-bar a img {
    box-shadow: none;
}



.logo-bar:first-child {
    
}



.outer-wrapper {
    background-color: white;
    border-radius: 1%;
    border: solid 1px #EBF3F7;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 20px;
}

.category-tree {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}

.category-tree [class^=level-] {
    text-align: left;
    line-height: 36px;
    border-bottom: 1px solid white;
}

.category-tree .level-1 {
    color: #065683;
    padding-left: 20px;
}

.category-tree .level-2 {
    font-size: 12px;
    color: #404040;
    padding-left: 30px;
}

.SFNT .inner-wrapper {
    margin: 0 10px;
    padding-bottom: 30px;
    width: 939px;
}

.SFNT .inner-wrapper img {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

.flex-nav ul {
    display: flex;
    list-style: none;
    height: 30px;
    align-items: center;
    padding: 20px 40px;
}

.flex-nav li {
/*    flex-basis: 100%;*/
    font-size: 15px;
    text-decoration: none;
    flex: 1;
    text-align: center;
    white-space:nowrap;
    
}

ul li a {
    text-decoration: none; 
}

ul li a:visisted {
    text-decoration: none; 
}

.main-image {
    display: flex;
}

.destination-just-arrived {
/*    display: block;*/
/*    position: relative;*/
    position: absolute;
    padding: 138px 0px 0px 52px;
    
/*    left: 52px;*/
    z-index: 2;
    width: 346px;
	height: 108px;
    opacity: 0.9;
	font-family: Aller;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.2;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 5px 8.7px 13px rgba(0, 0, 0, 0.34);
}

.double-category {
    display: flex;
    flex-direction: row;
}

.med-cat {

}

.quad-cat-row {
    width: 101%;
    display: flex;
}

.quad-img {
    flex: 1;
}

.quad-banner-light {
    position: absolute;
    bottom: 65px;
    width: 193px;
	height: 32px;
	opacity: 0.9;
    background: rgba(255,255,255,1);
}

.quad-banner-light-text {
    width: 97px;
	height: 16px;
	font-family: Aller;
	font-size: 16px;
	font-weight: 300;
	color: #015136;
	text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
}

.quad-banner-dark {
    position: absolute;
    bottom: 65px;
    width: 193px;
	height: 32px;
	opacity: 0.5;
}

.quad-img img {
    width: 227px;
    height: 190px;  
}
